.header {
  background: $off-black;
  color: white;
  margin-bottom: $size-3;
  padding: $size-1 0;
}

//BEM: block element modifier
.header__title {
  font-size: $size-2;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $size-1;
  font-weight: 500;
  margin: 0;
}

@media (max-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $size-0;
  }
}