.option {
  border: 1px solid lighten($theme-light-blue, 10%);
  display: flex;
  justify-content: space-between;
  padding: $size-2 $size-1;
}

.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  margin-right: $size-0;
  word-break: break-all;
}